<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="WindowName" value="Adobe Photoshop CS3 Extended"/>
		<add key="ProcessName" value="C:\Program Files (x86)\Adobe\Adobe Photoshop CS3\Photoshop.exe"/>
		<add key="Steps" value="%f,r,{ENTER},{ENTER},%{F4}"/>
	</appSettings>
</configuration>
